.contenedor {
  max-width: 180rem;
  width: 90%;
  margin: 0 auto;
}

.title {
  color: #086487;
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.4rem;
    border-radius: 10px;
    background: linear-gradient(135deg, #086487, #45A0B3);
  }
}