@font-face {
	font-family: 'Cabin Regular';
	src: url('Cabin-Regular.eot');
	src: url('Cabin-Regular.eot?#iefix') format('embedded-opentype'),
		url('Cabin-Regular.woff') format('woff'),
		url('Cabin-Regular.ttf') format('truetype'),
		url('Cabin-Regular.svg') format('svg');
}