ul.sdt_menu{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
	font-size: 9px;
	width: 1020px;
	border: 0;
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a{
	position: absolute;
	top: 10px;
	left: 80px;
	width: 170px;
	height: 85px;
	z-index: 12;
	background: transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow: inset 0px 0px 2px #000;
	-webkit-box-shadow: inset 0px 0px 2px #000;
	box-shadow: inset 0px 0px 2px #000;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:30px;
	z-index:14;
}
ul.sdt_menu li span.sdt_active{
	position: absolute;
	background: #555;
	top: 5px;
	width: 170px;
	height: 0px;
	left: 0px;
	z-index: 14;
	-moz-box-shadow: inset 0px 0px 4px #000;
	-webkit-box-shadow: inset 0px 0px 4px #000;
	box-shadow: inset 0px 0px 4px #000;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left: 15px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color: #0C3;
	font-size: 16px;
	float: left;
	clear: both;
}
ul.sdt_menu li span span.sdt_descr{
	color: #6FB7FF;
	float: left;
	clear: both;
	width: 155px; /*For dumbass IE7*/
	font-size: 10px;
	letter-spacing: 1px;
}
ul.sdt_menu li div.sdt_box{
	display: none;
	position: absolute;
	width: 330px;
	overflow: hidden;
	height: auto;
	top: 95px;
	left: 0px;
	display: none;
	background: #186621;
	letter-spacing: 1px;
}
ul.sdt_menu li div.sdt_box a{
	float: left;
	clear: both;
	line-height: 25px;
	color: #B7DBFF;
}

ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}
