.servicios {
    padding: 6rem 0;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    &__card {
        background: white;
        padding: 3rem;
        border-radius: 1.5rem;

        box-shadow: 0 10px 25px rgba(0,0,0,0.08);

        transition: all .35s ease;

        display: flex;
        flex-direction: column;

        min-height: 100%;
        }

    &__card:hover {
        background-color: #086487;
        transform: translateY(-8px);
        box-shadow: 0 18px 35px rgba(9,55,115,0.25);
    }

    &__card:hover .servicios__subtitle,
    &__card:hover p {
        color: white;
    }
    &__card:hover li {
        color: white;
    }

    &__subtitle {
        font-size: 2.2rem;
        color: #086487;
        margin-bottom: 1.5rem;

        transition: color .3s ease;
    }

    &__list {
        margin: 2rem 0;
        padding-left: 2rem;

        li {
            font-size: 1.5rem;
            line-height: 1.7;
            margin-bottom: 1rem;
            color: #111;
            list-style-type: disc;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 1.7;
        color: #555;

        transition: color .3s ease;
    }

    &__btn {
        margin-top: auto;

        display: inline-block;

        background-color: #45A0B3;
        color: white;

        padding: 1.2rem 2rem;
        border-radius: .6rem;
        border: 1px solid transparent;

        text-decoration: none;
        font-weight: 600;

        transition: all .3s ease;
    }

    &__btn:hover {
        background-color: #086487;
        transform: scale(1.03);
        transform: translateY(-3px);
        border: 1px solid rgba(255,255,255,0.15);
    }
}